.layout-body {
  .main-wrapper {
    display: grid;
    grid-template-columns: 260px minmax(0, 1fr);
    // height: calc(100vh - 59px); // with Header
    height: 100vh;

    .sidenav-container, .main-container {
      display: block;
      position: relative;
      overflow: hidden;
      overflow-y: auto;
    }
  }
}